.navbarMain {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  height: 100px;
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 99999;
  transition: background 0.5s ease, height 0.5s ease, border 0.5s ease,
    backdrop-filter 0.5s ease;
  will-change: background, height;
}

.navbarScroll {
  max-width: 800px;
  margin: 0 auto;
  height: 70px;
  border-radius: 100px;
  border: 1px solid rgba(225, 225, 225, 0.6);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
}

.container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

.navbarMainInner {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.navLogo {
  position: relative;
  font-size: 50px;
  color: #181818;
}

.navLogoArea {
  position: relative;
}

.navbarMenu {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
}

.navbarList {
  position: relative;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbarItem {
  position: relative;
}

.navbarLink {
  position: relative;
  font-size: 18px;
  text-transform: uppercase;
  color: #181818;
}

.navToggle,
.navbarclose {
  display: none;
}

@media (max-width: 991.98px) {
  .navToggle {
    display: block;
    background: transparent;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }

  .navLogoArea {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
  }

  .navbarMenu {
    position: fixed;
    inset: 0;
    justify-content: center;
    background: rgb(146, 136, 136);
    transform: translateX(-100%);
    z-index: 99999999;
    height: 100vh;
    width: 100%;
    transition: all 0.3s ease;
    opacity: 0;
  }

  .navbarMenuShow {
    transform: translateX(0);
    opacity: 1;
  }

  .navbarList {
    flex-direction: column;
    gap: 20px;
  }

  .navbarclose {
    display: block;
    background: transparent;
    font-size: 30px;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .navbarMain {
    top: 0;
  }

  .navbarScroll {
    max-width: 100%;
    height: auto;
    border-radius: 0;
    border: none;
    margin: 0 auto;
    background: #fff;
  }
}
